* {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Primary color of text */
.text-primary {
  color: #fd6e0a;
}
/* button primary */

.btn-primary {
  /* used for buttons hire me contact download CV*/
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: var(--white-color, #fff);
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

/* nav realted styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
  padding: 8px;
}
/* Nav-title mary style */
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
/* removing list style dots and creating 50px space of margin to the right */
nav li {
  list-style: none;
  margin-right: 50px;
}
/* removing underlines from anchor tags*/
nav a {
  text-decoration: none;
  color: var(--dark-02, #474747);
}

/* header styles */
.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* banner of header divsion */
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* To make space between content and image*/
}

.banner-content {
  max-width: 500px;
}

.banner .profile-picture {
  width: 500px;
}

.banner-greetings {
  color: var(--dark-02, #474747);
  font-size: 45px;
  margin-bottom: 0px;
}
.banner-title {
  color: var(--dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* main section styles */

/*About section style*/
